<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Not Found - 404 Error</title>
	<link rel="icon" type="image/x-icon" href="logo.png">
	<link rel="stylesheet" href="style2.css">
</head>

<body>
	<div class="container">
		<h1>404</h1>
		<p>Sorry, the page you are looking for could not be found.</p>
		<p><a href="/">Go to the home page</a></p>
	</div>
</body>

</html>